body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    margin: 0;
}

header, footer {
    background-color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flexbox;
}

nav ul li {
    margin: 0.5em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

header{
    font-weight: bold;
    box-shadow: 0px 5px 5px gray;
    text-align: center;
    padding: 0.1em;
}

.iconosredes > a > img {
    width: 50px;
    height: 50px;
}
main {
    background-image: url("../img/fondo.jpg");
    background-size:cover;
    background-color: lightgray;
}

#titulologo {
    margin: auto;
    text-shadow: 0.1em 0.1em rgb(63, 63, 63);
}

#home, #proyectos {
    text-align: center;
}

#proyectos ul{
    margin-top: 5em;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#proyectos ul li {
    padding: 1em;
}

#proyectos ul li a {
    text-decoration: none;
}

article {
    margin: 1em;
    padding: 1em;
}

article h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0.1em 0.1em rgb(63, 63, 63);
}

#skills ul {
    list-style-type: none;
}

#foto {
    display: block;
    width: 125px;
    height: auto;
    margin: auto;
    border-radius: 100%;
}

footer{
    color: white;
    padding: 1em;
    text-align: center;
    box-shadow: 0px -5px 5px gray;
}

#email {
    text-decoration: none;
    color: orange;
}

 /*Para tablets y PC */
@media only screen and (min-width: 801px){
    html, body{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
    }

    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header * {
        margin: auto;
    }

    header nav ul {
        display: flex;
        width: 100%;
    }

    main {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        flex: 10 1 auto;
        }
    
    article {
        flex: 80em 0 0;
        scroll-snap-align: start;
        object-fit: cover;
    }

    #home {
        margin: auto;
    }

    #skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #skills h3 {
        grid-column: 1/3;
        grid-row: 1;
        margin-bottom: 0;
    }

    #softskills {
        margin: auto;
        margin-top: 0;
    }
    #hardskills {
        margin: auto;
        margin-top: 0;
    }
    #foto {
        margin-left: 5em;
    }

    #wrappermi {
        display: flex;
    }

    #wrappermi * {
        margin: auto;
        margin-top: 0;
        padding: 2em;
    }

    header div {
        margin-right: 5em;
    }

    footer{
        flex: 1 0 auto;
    }

    #iconosredesfooter{
        display: none;
    }
}